<div class="container">
  <div class="jumbotron">
    <h1>Welcome to Github Events!</h1>
    <p>Search for users and their repos. Then display all events in that repo!</p>
  </div>

  <%= render partial: "shared/form", locals: { event_search: @event_search } %>

<h1>currently searching for <%= @event_search.user_name %></h1>

<table>
  <th>Actor URL</th>
  <th>Avatar</th>
  <th>Event Type</th>
  <th>Timestamp</th>

  <% @event_search.events_by_type.each do |event| %>
    <tr>
      <td>
        <%= event.actor.url %>
      </td>
      <td>
        <%= image_tag event.actor.avatar_url, size: '120' %>
      </td>
      <td>
        <%= event.type %>
      </td>
      <td>
        <%= event.created_at %>
      </td>
    </tr>
  <% end %>
</table>
</div>
